.udemy_body_content {
    /* border: 1px solid black; */
    margin: 30px 15rem;
}

.section2_div{
    /* margin: 0px 15rem; */
    background-color: #f7f9fa;
    margin-top: 2rem;
}
.section4_div {
    background-color: #f7f9fa;
    padding: 1rem;
}
.section5_div {
    margin-top: 4rem;
}

.section6_div {
    background-color: #f7f9fa;
    padding: 2rem;
}

.section8_div{
    background-color: #f7f9fa;
    padding: 2rem;
}


.Footer_div {
    background-color: #2d2f31;
    padding: 1rem 3rem;
}

